* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #04d9ff;
}

html {
    font-size: 60%;
    margin: 0;
    height: 100%;
    /* Not Scrolling */
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    height: 100%;
    /* Not Scrolling */
    overflow: hidden
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    z-index: 5;
}

.home {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    font-size: 5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease-in-out;
    margin-left: 6rem;
}

.home:hover {
    transform: scale(1.25);
}

.logo {
    font-size: 3rem;
    padding: 4rem 3.5% 4rem;
    color: var(--text-color);
    font-weight: 800;
    transition: 0.3s ease;
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

span {
    color: var(--main-color);
}

main {
    margin-top: 110px;
    padding: 4rem 3.5% 4rem;
    padding-bottom: 40px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#camButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 0px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.heading {
    font-size: 6rem;
    text-align: center;
    margin: 5rem 0;
}